<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Invoice</title>
    <style>
        html {
            height: 0;
        }

        table,
        th,
        td {
            border: 1px solid black;
            border-collapse: collapse;
            font-size: 14px;
        }

        th,
        td {
            padding: 5px;
            text-align: left;
        }
    </style>
</head>

<body>
    <h3 style="text-align:center">Bill of Supply</h3>
    <table>
        <tr>
            <td colspan="3" rowspan="4">
                <div>
                    <div>home </div>
                    <div>tesil</div>
                    <div>city</div>
                    <div>town</div>
                </div>
            </td>
            <td colspan="3">
                <div>one</div>
                <div>one</div>
            </td>
            <td>date</td>
        </tr>
        <tr>
            <td>date</td>
            <td>date</td>
            <td>date</td>
            <td>date</td>
        </tr>
        <tr>
            <td colspan="3">
                <div>one</div>
                <div>one</div>
            </td>
            <td>date</td>
        </tr>
        <tr>
            <td colspan="3">
                <div>one</div>
                <div>one</div>
            </td>
            <td>date</td>
        </tr>
        <tr>
            <td colspan="3" rowspan="2">
                <div>
                    <div>home </div>
                    <div>town</div>
                </div>
            </td>
            <td colspan="3">
                <div>one</div>
            </td>
            <td>date</td>
        </tr>
        <tr>
            <td colspan="3">
                <div>one</div>
            </td>
            <td>date</td>
        </tr>
        <tr>
            <td>one </td>
            <td colspan="4">tow</td>
            <td>one </td>
            <td>one </td>
        </tr>
        <tr>
            <td colspan="7">single row </td>
        </tr>
        <tr>
            <td colspan="5">single row </td>
            <td colspan="2">sakfj</td>
        </tr>
    </table>
</body>

</html>